* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

nav .logo {
  width: 150px; }

nav .nav-link {
  color: white; }

.carousel img {
  max-height: 300px; }

.carousel h5 {
  font-weight: bold;
  color: purple;
  font-size: 2rem; }

.carousel p {
  font-weight: bold;
  color: black; }

.carousel .c2 {
  color: black; }

.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
  filter: invert(108%); }

.products h2 {
  font-weight: 700;
  font-size: 2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

.products h6 {
  font-weight: bold; }

.products .card:hover {
  box-shadow: 2px 1px 25px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 1px 25px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 25px -4px rgba(0, 0, 0, 0.75); }

.products p {
  font-weight: bold; }

.products .btn2 {
  height: 45px;
  width: 35%;
  border: none;
  outline: none;
  background-color: purple;
  color: white;
  font-weight: 700;
  border-radius: 60px; }

main .card:hover {
  box-shadow: 2px 1px 25px -4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 1px 25px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 1px 25px -4px rgba(0, 0, 0, 0.75); }

.news {
  background-color: purple;
  color: white; }
  .news input {
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    margin-top: 20px;
    font-weight: bold;
    background: purple;
    color: white; }
  .news .btn3 {
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight: bold;
    color: purple; }
  .news p {
    margin: 0; }
  .news li {
    display: inline;
    list-style: none; }
  .news .fab {
    font-size: 1.5rem;
    color: white; }

.contenedor {
  background: purple;
  color: white;
  font-family: 'Quicksand', sans-serif;
  padding: 0 1,5em; }
  .contenedor .content {
    max-width: 425px;
    margin-left: auto;
    margin-right: auto;
    padding: 1,5em; }
  .contenedor .titulo {
    text-align: center;
    font-size: 3em; }
  .contenedor .caja-contacto {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
    padding: 1em; }
  .contenedor .contact-form {
    background: purple; }
    .contenedor .contact-form .form {
      margin: 0;
      padding: 1em; }
    .contenedor .contact-form input {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: white;
      border-bottom: 1px solid white; }
    .contenedor .contact-form textarea {
      width: 100%;
      padding: .7em;
      border: none;
      background: none;
      outline: 0;
      color: white;
      border-bottom: 1px solid white; }
    .contenedor .contact-form button {
      font-weight: bold;
      width: 100%;
      padding: .7em;
      border: none;
      background: white;
      outline: 0;
      color: purple;
      border-bottom: 1px solid white;
      text-transform: uppercase; }
      .contenedor .contact-form button:hover {
        background: pink; }
  .contenedor .contact-info {
    font-weight: bold;
    background: white;
    color: purple; }
    .contenedor .contact-info h5 {
      text-align: center;
      margin: 0 0 1rem o; }
    .contenedor .contact-info ul {
      text-align: center;
      margin: 0 0 1rem o;
      list-style: none;
      padding: 0; }
    .contenedor .contact-info p {
      text-align: center;
      margin: 0 0 1rem o; }
    .contenedor .contact-info li {
      padding: .3em; }
